{% extends "layout.html" %}
{% block content %}

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up mb-2" data-aos-delay="400">Our Inspiration</h1>
          <p data-aos="fade-up" data-aos-delay="400" style="text-align:justify; font-size:20px;">Creativity is in our DNA. Our game-changing innovations are redefining the possibilities of digital experiences. <br><br>We connect content data and introduce new technologies that democratize creativity, shape the next generation, and inspire entirely new categories of business.The future belongs to those who create.</p>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/inspire.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

<section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/Shrutika.jpeg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Shrutika Bhatkar</h4>
                <span>Group Leader</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/Samiksha.jpeg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Samiksha Gedam</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/Hitesh.jpeg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Hitesh Gedam</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="static/assets/img/Tejas.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Tejas Mokarkar</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
<section id="ms" class="hero d-flex align-items-center">
 <div class="container">
      <div class="row">
	  <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/features.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Mission + Values</h1>
          <p data-aos="fade-up" data-aos-delay="400" style="text-align:justify; font-size:20px;">Our mission is to provide tools taht are easy enough and fast responding so the task becomes easy.</p>

        </div>

      </div>
    </div>
	</section>


  <section id="ws" class="hero d-flex align-items-center">
 <div class="container">
      <div class="row">

        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Our Work</h1>
          <p data-aos="fade-up" data-aos-delay="400" style="text-align:justify; font-size:20px;">ShrinkIT is an application to resize still images (pictures and photos). We seek to provide a simple tool for a quick and easy image resizing. As image processing is an important part in our day-to-day life for official and non-official tasks, which leads to a great outcome. We hope this app helps you to send and use the pictures according to your need.
<br><br>Thank you for your time and We hope you will enjoy using ShrinkIT.
</p>

        </div>
         <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/work.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
	</section>
</div>

{% endblock content %}
