{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/style.css">
<style>
  .contact-section{
  background: url('static/assets/img/whitetech.png') no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
</style>
<main id="main">
    <section id="about" class="values">

      <div class="container mt-5" data-aos="fade-up">

        <header class="section-header">

          <p>Contact Us</p>
        </header>

        <div class="contact-section">
          <div class="border"></div>
          <form class="contact-form" action="index.html" method="post">
            <input type="text" class="contact-form-text" placeholder="Your name">
            <input type="email" class="contact-form-text" placeholder="Your email">
            <input type="text" class="contact-form-text" placeholder="Your phone">
            <textarea class="contact-form-text" placeholder="Your message"></textarea>
            <input type="submit" class="contact-form-btn" value="Send">
          </form>
        </div>



      </div>
      <br>
      <br>
      <br>


    </section><!-- End Values Section -->

  </main>

{% endblock content %}




