{% extends "layout.html" %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer you Great Resolutions for making your task easy.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making thing more accurate</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Values Section ======= -->
    <section id="about" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
         
          <p>Choose Your Preference</p>
        </header>

        <div class="row justify-content-md-center">

          <div class="col-lg-3" onclick="location.href='{{url_for('custom')}}'">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="static/assets/img/values1.png" class="img-fluid" alt="">
              <h3>Customized Image</h3>
              <p>Customize your image by your own Size & Resolutions.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0 " onclick="location.href='{{url_for('predefined')}}'">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="static/assets/img/values3.png" class="img-fluid" alt="">
              <h3>Predefined Exam</h3>
              <p>Predefined exam details image resolutions.</p>
            </div>
          </div>

          <div class="col-lg-3" onclick="location.href='{{url_for('signature')}}'">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="static/assets/img/hero-img1.png" class="img-fluid" alt="">
              <h3>Predefined Exam Signature</h3>
              <p>Predefined exam details Signature resolutions.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->
  </main><!-- End #main -->
 <div class="section-header">
 <p>Have Any Query?? We Are Happy To Help!!</p>
 </div>
{% endblock content %}
